aside.mdc-persistent-drawer
  nav.mdc-persistent-drawer__drawer
    .mdc-persistent-drawer__toolbar-spacer
      if user
        if user.profile.picture
          img(src=user.profile.picture)
        else
          img(src=user.gravatar(60))
        span.catalog-title= user.profile.name || user.email || user.id
    .mdc-list-group
      if !user
        nav.mdc-list
          a.mdc-list-item(href='#' data-action='userLogin')
            i.material-icons.mdc-list-item__start-detail(aria-hidden='true') input
            | Login
          a.mdc-list-item(href='#' data-action='forgotPassword')
            i.material-icons.mdc-list-item__start-detail(aria-hidden='true') lock_open
            | Forgot Password
          a.mdc-list-item(href='#' data-action='userCreate')
            i.material-icons.mdc-list-item__start-detail(aria-hidden='true') person_add
            | Create Account
      else
        nav.mdc-list
          a.mdc-list-item(href='/account/profile')
            i.material-icons.mdc-list-item__start-detail(aria-hidden='true') account_box
            | Profile
          a.mdc-list-item(href='#' data-action='changePassword')
            i.material-icons.mdc-list-item__start-detail(aria-hidden='true') lock_open
            | Change Password
          a.mdc-list-item(href='#' data-action='userLogout')
            i.material-icons.mdc-list-item__start-detail(aria-hidden='true') power_settings_new
            | Logout
