header.mdc-toolbar.mdc-elevation--z4
  .mdc-toolbar__row
    section.mdc-toolbar__section.mdc-toolbar__section--align-start
      button.main-menu.material-icons menu
      span.mdc-toolbar__title.catalog-title
        a(href='/') Nodejs Powerplate
