@import "themes/default/variables";

@import "lib/bootstrap/bootstrap";
@import "node_modules/sweetalert2/dist/sweetalert2.min";
@import "lib/font-awesome/font-awesome";

@import "themes/default/default";

@import "node_modules/material-components-web/dist/material-components-web.min";
/* Base style */

:root {
  --mdc-theme-primary: #212121;
  --mdc-theme-accent: #64DD17;
}

/* Ensure layout covers the entire screen. */
html {
  height: 100%;
}
/* Place drawer and content side by side. */
.demo-body {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
/* A simple menu button. */
.main-menu {
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  margin-right: 24px;
  color: #FFF;
  box-sizing: border-box;
}
/* Stack toolbar and main on top of each other. */
.demo-content {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;
}
.demo-body {
  margin: 0px;
}
.demo-paragraph {
  margin: 0px;
  padding: 20px 28px;
}
.material-icons {
  text-decoration: none;
  cursor: pointer;
  padding-right: 8px;
  color: white;
}
[dir='rtl'] .material-icons {
  padding-left: 8px;
}
@media (max-width: 599px) {
  .demo-paragraph {
    padding: 16px;
  }
}
.mdc-persistent-drawer__toolbar-spacer img {
    height: 100%;
    width: auto;
    margin-right: 24px;
}
.mdc-persistent-drawer__toolbar-spacer span {
  display: inline-flex;
  align-items: center;
}
.mdc-theme--dark {
  background-color: #303030;
}
input[type="checkbox"]:disabled + label {
  opacity: .4;
}
.mdc-textfield__input {
  min-width: 240px;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.mdc-toolbar a, .mdc-toolbar a:visited {
  text-decoration: none;
  color: #f0f0f0;
}

.catalog-title {
  font-family: "Roboto Mono", monospace;
}

.catalog-logo, .catalog-back {
  text-decoration: none;
  padding-right: 24px;
  color: #eeeeee;
}

.hero {
  background-color: rgba(0, 0, 0, 0.05);
  min-height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  height: 360px;
}

/* Default padding on all examples. */
section.example {
  padding: 24px;
  margin: 24px;
}

section.example h2 {
  margin-left: 0;
}

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

.spinner-wrapper {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  .spinner {
    margin: 30% auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;

    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
  }

  .dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #bada55;
    border-radius: 100%;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }

  .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  @-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
  @keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }

  @keyframes sk-bounce {
    0%, 100% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
}
